body {
    font-family: Arial, sans-serif;
    background-image: url('../wallpaper.jpg');
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
}

#header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

#accueilButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
}

#accueilButton:hover {
    background-color: #45a049;
}

form {
    background-color: #2f2f2f;
    padding: 30px;
    border-radius: 15px;
    margin: 20px auto;
    width: 80%;
    max-width: 500px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

form label {
    font-size: 1.2em;
    color: white;
    display: block;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 1.1em;
    border-radius: 8px;
    border: 2px solid #007BFF;
    background-color: #fff;
    color: #333;
}

form input:focus {
    border-color: #0056b3;
    outline: none;
}

form button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
}

form button:hover {
    background-color: #0056b3;
}

#devisResult {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    visibility: hidden;
    text-align: left;
}

#devisResult a {
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

#devisResult a:hover {
    background-color: #218838;
}


button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

table {
    margin: 30px auto;
    border-collapse: collapse;
    width: 90%;
    max-width: 800px;
    overflow-x: auto;
}